{% extends "index.html" %}
{% block body %}
    <h1>Explore the SMT-LIB Benchmarks</h1>
    <p>
      This site allows you to browse the <a href="https://smt-lib.org/">SMT-LIB</a> benchmarks.
      Select a logic or family below to see the benchmarks in this family.
      The benchmark pages show benchmark metadata and historic competition
      results.  There is also a page with informative charts for each logic,
      and a comparison of the solvers on the logic.  See the chart pages
      for an explanation.
    </p>
    <p>
      The SMT-LIB benchmarks can be downloaded from Zenodo
      (<a href="https://zenodo.org/records/16740866">non-incremental</a>, <a href="https://zenodo.org/records/15493096">incremental</a>).
      The database that was used to generate this website
      is also available on <a href="https://zenodo.org/records/16290040">Zenodo</a>.
    </p>
    <h2>Overview Pages</h2>
    <ul class="big-ul">
      <li><a href="./logics/ALL.html">Charts</a> for all benchmarks.</li>
      <li>Solver <a href="./isomap">Isomap overview</a>.</li>
    </ul>
    </p>
    {% for ld in logics %}
    <table class="pure-table pure-table-bordered full-width-table">
      <thead>
        <tr>
          <th id="{{ ld.logic }}">{{ ld.logic }}
        	&#8226; <a href="./logics/{{ ld.logic }}.html">Charts</a>
        	&#8226; <a href="./isomap/{{ ld.logic }}.html">Solver Isomap</a>
        </th>
        <th>Generated</th><th>First Used</th></tr>
      </thead>
      <tbody>
        {% for fam in ld.families %}
          <tr>
            <td>
            	<a href="./family/{{ fam[0] }}.html#{{ ld.logic }}">{{ fam[1] }}</a>
            </td>
            <td>
              {% if fam[2] %}{{ fam[2] }}{% endif %}
          	</td>
            <td>
              {% if fam[3] %}{{ fam[3] }}{% endif %}
          	</td>
        	</tr>
        {% endfor %}
      </tbody>
    {% endfor %}
{% endblock %}
