{% extends "index.html" %}
{% block body %}
    <h1>Explore the SMT-LIB Benchmarks</h1>
    <ul class="big-ul">
      <li><a href="./logics/ALL.html">Charts</a> for all benchmarks.</li>
      <li>Solver <a href="./isomap">Isomap overview</a>.</li>
    </ul>
    {% for ld in logics %}
    <table class="pure-table pure-table-bordered full-width-table">
      <thead>
        <tr>
          <th id="{{ ld.logic }}">{{ ld.logic }}
        	&#8226; <a href="./logics/{{ ld.logic }}.html">Charts</a>
        	&#8226; <a href="./isomap/{{ ld.logic }}.html">Solver Isomap</a>
        </th>
        <th>Generated</th><th>First Used</th></tr>
      </thead>
      <tbody>
        {% for fam in ld.families %}
          <tr>
            <td>
            	<a href="./family/{{ fam[0] }}.html#{{ ld.logic }}">{{ fam[1] }}</a>
            </td>
            <td>
              {% if fam[2] %}{{ fam[2] }}{% endif %}
          	</td>
            <td>
              {% if fam[3] %}{{ fam[3] }}{% endif %}
          	</td>
        	</tr>
        {% endfor %}
      </tbody>
    {% endfor %}
{% endblock %}
