{% extends "index.html" %}
{% block body %}
<h1>Isomaps Showing Solver Similarities</h1>
{% for logic in logics %}
<table class="pure-table pure-table-bordered full-width-table">
  <thead>
    <tr>
      <th id="{{ logic }}"><a href="../index.html#{{ logic }}">{{ logic }}</a>
    	&#8226; <a href="{{ logic }}.html">Interactive Isomap</a>
    {% if pdf %}
      &#8226; <a href="./pdf/{{logic}}.pdf">PDF</a>
    {% endif %}
    	&#8226; <a href="../logics/{{ logic }}.html">Charts</a>
    </th>
  </thead>
  <tbody>
    <tr><td>
    {%if png %}
        <img src="./png/{{logic}}.png"/>
    {% else %}
        No image generated.
    {% endif %}
    <tr><td>
</table>
{% endfor %}

<p>
For the following logics there was not enough data to generate
an isomap:
{% for logic in failed_logics %}
{% if loop.last %}{{ logic }}.{% else %}{{ logic }},{% endif %}
{% endfor %}
</p>
{% endblock %}
