{% extends "index.html" %}
{% block body %}
<h1> Solver Isomap For {{ logicData }}</h1>
<p>
  In this diagram two solvers are close if they are similar with respect to their
  solving times at the competitions.  See below for a detailed explanation.
  The trail connects the annual versions of a solver.
</p>
        {{ printed | safe }}
<p>
<center>
        {{ charts | safe }}
</center>
</p>
<p><ol>
    <li>Fetch all the competition results for the given logic.</li>
    <li>If requested ({{ "it is not" if inputs_value.dist_too_few else "it is" }}),
      remove the solvers that have less than {{inputs_value.min_common_benches}}
      benchmarks in common with 50% of the other solvers.</li>
    <li>Compute the distance between each solver pair.
      It is the cosine distance between the wall-clock time of the common benchmarks.
      More precisely, when if two solvers have <i>n</i> benchmarks in common,
      we use an n-dimensional space.
      The coordinate of each solver is the wall-clock time for each benchmarks regardless of the result.
      The cosine distance is then the angle between the two solvers at the origin.</li>
		{% if inputs_value.dist_too_few %}
    <li>For the solver that have not enough benchmarks in common 
      distance is fixed at {{inputs_value.dist_too_few}}.</li>
    {% endif %}
    <li>Compute a standard Isomap from the cosine distances.</li>
</ol></p>

{% if inputs_value.df_too_few.to_dicts()| length > 0 %}
<p>Solvers removed in step 2: </p>
    <ul>
    {% for item in inputs_value.df_too_few.to_dicts() %}
    <li>{{item["solver"]}} ({{item["date"]}})</li>
    {% endfor %}
    </ul>
</p>
{% endif %}
{% if show_form %}
<div>
    <p>Parameters:</p>
    <form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="min_common_benches">Minimum of common benchmarks</label>
            <input id="min_common_benches" name="min_common_benches" type="text" value="{{inputs_value.min_common_benches }}" />
            </label>
        </div>
        <div class="pure-control-group">
            <label for="dist_too_few">if not empty, keep solvers below the minimum with this distance </label>
            <input id="dist_too_few" name="dist_too_few" type="text" value="{{inputs_value.dist_too_few or ''}}" />
            </label>
        </div>
        <div class="pure-controls">
            <label for="details" class="pure-checkbox"><input id="details" name="details" type="checkbox" {{ "checked" if inputs_value.details_requested }} /> Details</label>
            
        </div>
        <div class="pure-controls">
            <label for="virtual" class="pure-checkbox"><input id="virtual" name="virtual" type="checkbox" {{ "checked" if inputs_value.virtual_requested }} /> Add virtual best solver</label>
            
        </div>
        <div class="pure-controls">
            <label for="isomap" class="pure-checkbox"><input id="isomap" name="isomap" type="checkbox" {{ "checked" if inputs_value.isomap_requested }} /> Use Isomap (otherwise MDS)</label>
            
        </div>
        <div class="pure-controls">
            <label for="euclidean" class="pure-checkbox"><input id="euclidean" name="euclidean" type="checkbox" {{ "checked" if inputs_value.euclidean_requested }} /> Use euclidean (otherwise MDS)</label>
            
        </div>
        <div class="pure-controls">
            <label for="par4" class="pure-checkbox"><input id="par4" name="par4" type="checkbox" {{ "checked" if inputs_value.par4 }} /> Use par4</label>
            
        </div>
        <button type="submit" class="pure-button pure-button-primary">Draw</button>
    </fieldset>
</form>
</div>
{% endif %}
{% endblock %}
